<?xml version="1.0" encoding="UTF-8"?>

<Configuration packages="com.ding.trans.server">
  <Properties>
    <Property name="applogs">${sys:user.dir}</Property>
  </Properties>

  <Loggers>
    <Root level="info">
      <Appender-ref ref="TransServerLog" />
    </Root>
  </Loggers>

  <Appenders>
    <RollingFile name="TransServerLog"
      fileName="${sys:applogs}${sys:file.separator}trans-server.log"
      filePattern="${sys:applogs}${sys:file.separator}luna-qqbot-%i.log">

      <DefaultRolloverStrategy max="1" />
      <SizeBasedTriggeringPolicy size="10mb" />
      <PatternLayout
        pattern="%-d{yyyy-MM-dd HH:mm:ss.SSS}  [ %t ] - [ %p ]  %m%n" />

    </RollingFile>
  </Appenders>
</Configuration>